attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
dateparser==0.7.2
future==0.18.2
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
lxml==4.6.3
numpy==1.18.0
pandas==0.25.3
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
python-binance==0.7.4
python-dateutil==2.8.1
python-telegram-bot==12.2.0
pytz==2019.3
regex==2019.12.20
requests==2.22.0
service-identity==18.1.0
six==1.13.0
soupsieve==1.9.5
tornado==6.0.3
Twisted>=20.3.0
txaio==18.8.1
tzlocal==2.0.0
urllib3==1.25.7
zope.interface==4.7.1
gunicorn==20.0.4
